* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

@keyframes latido {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}

.navegacion .div-general a img {
  height: 70px;
  padding: 0 40px;
}

.navegacion .div-general .div-enlaces ul li {
  padding: 5px;
}

.navegacion .div-general .div-enlaces ul li a {
  text-decoration: none;
  color: black;
}

.navegacion .div-general .div-enlaces ul li a:hover {
  background-color: white;
  color: black;
}

.header {
  background-image: linear-gradient(#cfe2ff00, #cfe2ffe1);
}

.header h1 {
  text-align: center;
  padding: 20px;
  margin: 0;
}

.index {
  background-image: linear-gradient(#0075A2, #00FFC5);
}

.index .index-imagen {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.index .index-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index .index-titulo h2 {
  text-align: center;
  padding: 20px;
  margin: 30px 0 0 0;
  width: 850px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-titulo p {
  padding: 20px;
  margin: 30px 0 0 0;
  width: 850px;
  margin: 0 0 30px 0;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 200px;
  grid-template-areas: "filtros filtros filtros"
    "futuro precios garrafon"
    "futuro horarios garrafon";
}

.index .index-grilla .futuro {
  grid-area: futuro;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-grilla .futuro img {
  width: 250px;
}

.index .index-grilla .filtros {
  grid-area: filtros;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-grilla .garrafon {
  grid-area: garrafon;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-grilla .garrafon img {
  width: 300px;
}

.index .index-grilla .horarios {
  grid-area: horarios;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-grilla .horarios div {
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-grilla .precios {
  grid-area: precios;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.index .index-grilla .precios div {
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Medias Querys de index*/
@media (max-width: 1250px) {
  .index .index-imagen img {
    width: 350px;
  }

  .index .index-titulo h2 {
    width: 350px;
  }

  .index .index-titulo p {
    width: 350px;
  }

  .index .index-grilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;
  }

  .index .index-grilla article {
    width: 350px;
    margin: 20px;
  }
}

/* Medias Querys de index*/
@media (max-width: 500px) {
  .index .index-imagen img {
    width: 150px;
  }

  .index .index-titulo h2 {
    width: 150px;
  }

  .index .index-titulo p {
    width: 150px;
  }

  .index .index-grilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .index .index-grilla article {
    width: 150px;
    margin: 20px;
  }

  .index .index-grilla .garrafon img {
    width: 100px;
  }

  .index .index-grilla .futuro img {
    width: 100px;
  }
}

.equipo {
  background-image: linear-gradient(#0075A2, #00FFC5);
}

.equipo .equipo-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.equipo .equipo-titulo h2 {
  animation-name: latido;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
  padding: 20px;
}

.equipo .equipo-titulo p {
  text-align: center;
  padding: 20px 100px 20px 100px;
}

.equipo .equipo-titulo img {
  width: 750px;
  padding: 20px;
}

.equipo .equipo-trabajadores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 50px;
}

.equipo .equipo-trabajadores img {
  width: 288px;
}

.equipo .equipo-trabajadores h5 {
  text-align: center;
}

/* Medias Querys de equipo*/
@media (max-width: 1000px) {
  .equipo .equipo-titulo img {
    width: 350px;
  }

  .equipo .equipo-trabajadores {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .equipo .equipo-trabajadores .card {
    margin: 20px;
  }
}

.recorridos {
  background-image: linear-gradient(#0075A2, #00FFC5);
}

.recorridos .recorridos-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recorridos .recorridos-titulo h2 {
  animation-name: latido;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
  padding: 20px;
}

.recorridos .recorridos-titulo p {
  text-align: center;
  padding: 20px 100px 20px 100px;
}

.recorridos .recorridos-titulo img {
  width: 750px;
}

.recorridos .recorridos-horarios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 200px;
  grid-template-areas: "recorrido1 recorrido2 recorrido2"
    "recorrido1 recorrido3 recorrido3"
    "recorrido4 recorrido4 recorrido4";
}

.recorridos .recorridos-horarios .recorrido1 {
  grid-area: recorrido1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.recorridos .recorridos-horarios .recorrido2 {
  grid-area: recorrido2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.recorridos .recorridos-horarios .recorrido3 {
  grid-area: recorrido3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.recorridos .recorridos-horarios .recorrido4 {
  grid-area: recorrido4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: solid 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Medias Querys de recorridos*/
@media (max-width: 1000px) {
  .recorridos .recorridos-titulo img {
    width: 350px;
  }

  .recorridos .recorridos-horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px;
  }

  .recorridos .recorridos-horarios section {
    width: 350px;
    margin: 20px;
  }
}

/* Medias Querys de recorridos*/
@media (max-width: 500px) {
  .recorridos .recorridos-titulo img {
    width: 150px;
  }

  .recorridos .recorridos-horarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }

  .recorridos .recorridos-horarios section {
    width: 150px;
    margin: 5px;
  }
}

.ubicacion {
  background-image: linear-gradient(#0075A2, #00FFC5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ubicacion h2 {
  animation-name: latido;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
  padding: 20px;
}

.ubicacion p {
  text-align: center;
  padding: 20px 150px 20px 150px;
}

.ubicacion iframe {
  padding: 20px;
  width: 50%;
}

.contacto {
  background-image: linear-gradient(#0075A2, #00FFC5);
}

.contacto h2 {
  animation-name: latido;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  text-align: center;
  padding: 20px;
}

.contacto p {
  text-align: center;
  padding: 20px 150px 20px 150px;
}

.contacto div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contacto div img {
  width: 700px;
  padding: 20px;
}

.contacto div form {
  padding: 20px;
}

/* Medias Querys de contacto*/
@media (max-width: 1000px) {
  .contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contacto div {
    flex-direction: column;
    align-items: center;
  }

  .contacto div img {
    width: 350px;
  }
}

.footer {
  background-image: linear-gradient(#cfe2ff, #cfe2ff00);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.footer div {
  display: flex;
  flex-direction: column;
}

.footer div h6 {
  padding: 5px;
}

.footer ul {
  display: flex;
}

.footer ul li {
  list-style: none;
  padding: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}