.contacto {
    background-image: linear-gradient(#0075A2, #00FFC5);

    h2 {
        animation-name: latido;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        text-align: center;
        padding: 20px;
    }

    p {
        text-align: center;
        padding: 20px 150px 20px 150px;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        img {
            width: 700px;
            padding: 20px;
        }

        form {
            padding: 20px;
        }
    }
}

/* Medias Querys*/
@media (max-width:1000px) {
    .contacto {
        div {
            flex-direction: column;
            align-items: center;

            img {
                width: 500px;
            }
        }
    }
}