// Css de contacto
.contacto {
    background-image: $fondo;

    h2 {
        animation-name: latido;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        text-align: center;
        padding: $distancia;
    }

    p {
        text-align: center;
        padding: $distancia 150px $distancia 150px;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        img {
            width: 700px;
            padding: $distancia;
        }

        form {
            padding: $distancia;
        }
    }
}

/* Medias Querys de contacto*/
@media (max-width:1000px) {
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            flex-direction: column;
            align-items: center;

            img {
                width: 350px;
            }
        }
    }
}