// Css de equipo
.equipo {
    background-image: $fondo;

    .equipo-titulo {
        @extend .flex-centrado;

        h2 {
            animation-name: latido;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            text-align: center;
            padding: $distancia;
        }

        p {
            text-align: center;
            padding: $distancia 100px $distancia 100px;
        }

        img {
            width: 750px;
            padding: $distancia;
        }
    }

    .equipo-trabajadores {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;

        img {
            width: 288px;
        }

        h5 {
            text-align: center;
        }
    }
}

/* Medias Querys de equipo*/
@media (max-width:1000px) {
    .equipo {
        .equipo-titulo {
            img {
                width: 350px;
            }
        }

        .equipo-trabajadores {
            display: flex;
            flex-direction: column;
            align-items: center;

            .card {
                margin: $distancia;
            }
        }
    }
}