.equipo{
    background-image: linear-gradient(#0075A2, #00FFC5);
    .equipo-titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
        h2{
            animation-name: latido;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            text-align: center;
            padding: 20px;
        }
        p{
            text-align: center;
            padding: 20px 100px 20px 100px;
        }
        img{
            width: 750px;
            padding: 20px;
        }
    }
    .equipo-trabajadores{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;
        img{
            width: 288px;
        }
        h5{
            text-align: center;
        }
    }
}