// Css de footer
.footer {
    background-image: linear-gradient(#cfe2ff, #cfe2ff00);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    div {
        display: flex;
        flex-direction: column;

        h6 {
            padding: 5px;
        }
    }

    ul {
        display: flex;

        li {
            list-style: none;
            padding: $distancia;

            a {
                text-decoration: none;
                color: black;
                padding: $distancia;
            }
        }
    }
}