.index {
    background-image: linear-gradient(#0075A2, #00FFC5);
    .index-imagen {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .index-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            text-align: center;
            padding: 20px;
            margin: 30px 0 0 0;
            width: 850px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
        }

        p {
            padding: 20px;
            margin: 30px 0 0 0;
            width: 850px;
            margin: 0 0 30px 0;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
        }
    }

    .index-grilla {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 200px;
        grid-template-areas:
            "filtros filtros filtros"
            "futuro precios garrafon"
            "futuro horarios garrafon"
        ;
        .futuro{
            grid-area: futuro;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
            img{
                width: 250px;
            }
        }
        .filtros{
            grid-area: filtros;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
        }
        .garrafon{
            grid-area: garrafon;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
            img{
                width: 300px;
            }
        }
        .horarios{
            grid-area: horarios;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
            div{
                padding: 20px;
                border: solid 5px rgba(0, 0, 0, 0.200);
                border-radius: 10px;
            }
        }
        .precios{
            grid-area: precios;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
            div{
                padding: 20px;
                border: solid 5px rgba(0, 0, 0, 0.200);
                border-radius: 10px;
            }
        }
    }
}