// Css de recorridos
.recorridos {
    background-image: linear-gradient(#0075A2, #00FFC5);

    .recorridos-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            animation-name: latido;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            text-align: center;
            padding: 20px;
        }

        p {
            text-align: center;
            padding: 20px 100px 20px 100px;
        }

        img {
            width: 750px;
        }
    }

    .recorridos-horarios {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 200px;
        grid-template-areas:
            "recorrido1 recorrido2 recorrido2"
            "recorrido1 recorrido3 recorrido3"
            "recorrido4 recorrido4 recorrido4"
        ;

        .recorrido1 {
            grid-area: recorrido1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
        }

        .recorrido2 {
            grid-area: recorrido2;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
        }

        .recorrido3 {
            grid-area: recorrido3;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
        }

        .recorrido4 {
            grid-area: recorrido4;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border: solid 5px rgba(0, 0, 0, 0.200);
            border-radius: 10px;
        }
    }
}

/* Medias Querys de recorridos*/
@media (max-width:1000px) {
    .recorridos {
        .recorridos-titulo {
            img {
                width: 350px;
            }
        }

        .recorridos-horarios {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 30px 100px;

            section {
                width: 350px;
                margin: 20px;
            }
        }
    }
}

/* Medias Querys de recorridos*/
@media (max-width:500px) {
    .recorridos {
        .recorridos-titulo {
            img {
                width: 150px;
            }
        }

        .recorridos-horarios {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;

            section {
                width: 150px;
                margin: 5px;
            }
        }
    }
}