// Css de ubicacion
.ubicacion {
    background-image: $fondo;
    @extend .flex-centrado;

    h2 {
        animation-name: latido;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        text-align: center;
        padding: $distancia;
    }

    p {
        text-align: center;
        padding: $distancia 150px $distancia 150px;
    }

    iframe {
        padding: 20px;
        width: 50%;
    }
}