.ubicacion {
    background-image: linear-gradient(#0075A2, #00FFC5);
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        animation-name: latido;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        text-align: center;
        padding: 20px;
    }

    p {
        text-align: center;
        padding: 20px 150px 20px 150px;
    }

    iframe {
        padding: 20px;
        width: 75%;
    }
}